/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* normalize.css v1.0.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

/*
 * Addresses `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "ars-maquette-web", "Hevetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: black;
  background: #1e1d1d;
  margin: 0; }

a:link {
  color: black; }

a:visited {
  color: #1a1a1a; }

a:hover {
  color: #db3a22; }

a:active {
  color: #e3604d; }

img {
  max-width: 100%; }

.site_width {
  margin: auto;
  position: relative;
  content: " ";
  clear: both;
  *zoom: 1; }

.IGN_topbar {
  height: 36px;
  border-bottom: 1px solid #292929;
  background: #404040;
  background: -moz-linear-gradient(top, #404040 0, #151515 100%);
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#404040), to(#151515));
  background: -webkit-linear-gradient(top, #404040 0, #151515 100%);
  background: -o-linear-gradient(top, #404040 0, #151515 100%);
  background: -ms-linear-gradient(top, #404040 0, #151515 100%);
  background: linear-gradient(top, #404040 0, #151515 100%); }

.IGN_topbar_nav {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  border-left: 1px solid black;
  font-size: 12px; }
  .IGN_topbar_nav li {
    float: left;
    height: 36px;
    border-right: 1px solid black; }
  .IGN_topbar_nav a {
    display: block;
    height: 36px;
    line-height: 36px;
    padding: 0 18px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background: #535353;
    background: -moz-linear-gradient(top, #535353 0, #2d2d2d 100%);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#535353), to(#2d2d2d));
    background: -webkit-linear-gradient(top, #535353 0, #2d2d2d 100%);
    background: -o-linear-gradient(top, #535353 0, #2d2d2d 100%);
    background: -ms-linear-gradient(top, #535353 0, #2d2d2d 100%);
    background: linear-gradient(top, #535353 0, #2d2d2d 100%);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer; }
  .IGN_topbar_nav a:hover {
    background: #666666;
    background: -moz-linear-gradient(top, #666666 0, #333333 100%);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#666666), to(#333333));
    background: -webkit-linear-gradient(top, #666666 0, #333333 100%);
    background: -o-linear-gradient(top, #666666 0, #333333 100%);
    background: -ms-linear-gradient(top, #666666 0, #333333 100%);
    background: linear-gradient(top, #666666 0, #333333 100%); }

.IGN_btmbar {
  height: 36px;
  background-color: black;
  font-size: 12px; }
  .IGN_btmbar ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .IGN_btmbar li {
    float: left;
    height: 36px;
    line-height: 36px;
    font-weight: bold; }
  .IGN_btmbar a {
    color: #999999;
    display: block;
    text-decoration: none; }
  .IGN_btmbar a:hover {
    color: #db3a22; }
  .IGN_btmbar .IGN_btmbar_rightnav {
    float: right; }
    .IGN_btmbar .IGN_btmbar_rightnav li {
      margin-left: 14px; }
  .IGN_btmbar .IGN_btmbar_leftnav {
    float: left;
    margin-left: 82px; }
    .IGN_btmbar .IGN_btmbar_leftnav li {
      color: #db3a22;
      margin-right: 14px; }

.backtoIGN {
  font-weight: normal; }

.IPL_logo {
  width: 82px;
  height: 80px;
  float: left;
  position: absolute;
  top: -5px;
  left: -9px;
  background: url(http://media.ign.com/ev/esports/ipl-static/shared/images/logos/IPL_logo.png);
  z-index: 2; }

.content {
  background-color: #f9f9f9;
  padding: 30px 0; }

.medrec {
  width: 300px;
  height: 250px;
  background-color: #eeeeee; }

.content_header {
  border-bottom: 1px solid #cccccc;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 12px;
  text-transform: uppercase; }

* + .content_header {
  margin-top: 30px; }

.ad {
  margin: 30px 0 0; }

.leaderboard {
  text-align: center;
  padding: 15px 0;
  height: 90px; }

.col_medrec > .left {
  margin-right: 330px; }
.col_medrec > .right {
  width: 300px;
  float: right; }

.col_half > .left {
  float: left;
  width: 50%; }
  .col_half > .left .spacer {
    padding-right: 15px; }
.col_half > .right {
  float: right;
  width: 50%; }
  .col_half > .right .spacer {
    padding-left: 15px; }

.col_medrec_left > .right {
  margin-left: 330px; }
  .col_medrec_left > .right .spacer {
    padding-left: 15px; }
.col_medrec_left > .left {
  width: 300px;
  float: left; }
  .col_medrec_left > .left .spacer {
    padding-right: 15px; }

#ignFooter-container footer {
  margin-top: 30px; }

.boxscores, .sponsors {
  background-color: #eeeeee;
  padding: 30px 0;
  margin: 30px 0; }

.boxscores_container {
  height: 130px;
  position: relative;
  overflow: hidden; }

.boxscores_slider {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  white-space: nowrap; }

.boxscores_block {
  float: left;
  width: 210px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 20px; }

.boxscores_block + .boxscores_block {
  padding: 0 20px;
  border-left: 1px solid #cccccc; }

.boxscores_block:nth-of-type(4n + 1) {
  border-left: none; }

.boxscores_block:nth-last-of-type(1) {
  padding-right: 0; }

.boxscores_date {
  color: #888888;
  font-size: 12px; }

.boxscores_title {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px dotted #cccccc;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.boxscores_team {
  font-weight: bold;
  color: #888888;
  margin-bottom: 10px; }

.boxscores_image_container {
  position: relative;
  z-index: 5;
  display: inline-block;
  margin: -10px 5px 0 0;
  border-radius: 50%;
  border: 3px solid #cccccc; }
  .boxscores_image_container img {
    border-radius: 50%;
    position: relative;
    z-index: -1; }

.boxscores_team.winner {
  color: black; }

.boxscores_team_score {
  float: right; }

.boxscores_team_title {
  margin-right: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.boxscores_watch {
  float: right;
  font-size: 12px;
  color: #888888; }

.box_score_control {
  width: 36px;
  height: 56px;
  margin-top: -28px;
  position: absolute;
  top: 50%;
  z-index: 20;
  background-image: url(http://media.ign.com/ev/esports/ipl-static/ipl-site/v2/images/horizontal_arrows.png);
  overflow: hidden;
  text-indent: 100%; }

.box_score_prev {
  right: 100%;
  background-position: 0 0; }

.box_score_next {
  left: 100%;
  background-position: -36px 0; }

.col_nextevent .left,
.col_nextevent .middle,
.col_nextevent .right {
  float: left; }
.col_nextevent .left {
  width: 50%;
  height: 250px;
  overflow: hidden; }
  .col_nextevent .left .spacer {
    padding-right: 20px; }
.col_nextevent .middle {
  height: 197px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%; }

.nextevent_game {
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px 0 0; }
  .nextevent_game + .nextevent_game {
    padding: 0; }
  .nextevent_game ul {
    margin: 5px 0 0;
    padding: 0;
    list-style-type: none; }
  .nextevent_game h4 {
    margin: 0;
    padding: 0;
    clear: both;
    border-bottom: 1px solid #cccccc; }
  .nextevent_game.sm {
    margin-top: 10px;
    width: 100%; }

.nextevent_nav {
  height: 32px;
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
  border-top: 1px dotted #cccccc;
  text-transform: uppercase;
  font-size: 12px; }
  .nextevent_nav li {
    float: right;
    height: 32px;
    line-height: 32px;
    margin-left: 15px; }
  .nextevent_nav a, .nextevent_nav span {
    font-weight: bold;
    text-decoration: none;
    vertical-align: bottom;
    line-height: 16px;
    display: inline-block; }
  .nextevent_nav .button {
    background-color: #db3a22;
    color: white;
    padding: 0 5px 0 5px;
    border-radius: 3px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.29); }

.nextevent_logo img {
  width: 140px;
  margin: auto;
  display: block; }

.nextevent_hugetext {
  margin: 10px 0 0;
  font-size: 24px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: inherit;
  font-weight: 100; }

.nextevent_title {
  text-transform: uppercase;
  font-weight: bold;
  height: 33px;
  font-size: 18px;
  margin: 0; }

.nextevent_nav_special {
  list-style: inside;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 36px; }
  .nextevent_nav_special li + li {
    border-top: 1px dotted #dddddd; }
  .nextevent_nav_special a {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 10px;
    line-height: normal; }

.schedule h4 {
  margin-top: 0; }
.schedule ul {
  list-style-type: none;
  padding: 0; }

.schedule_row {
  overflow: hidden; }

.schedule_row + .schedule_row {
  border-top: 1px dotted #cccccc;
  margin-top: 20px;
  padding-top: 20px; }

.schedule_calendar {
  border: 1px solid #cccccc;
  padding: 15px 0;
  text-transform: uppercase;
  text-align: center;
  float: left;
  width: 100px;
  font-weight: bold; }

.schedule_calendar span {
  display: block; }

.schedule_calendar.today {
  color: #db3a22; }

.schedule_calendar_number {
  font-size: 36px;
  margin: 5px 0; }

.schedule_rhs {
  margin-left: 120px;
  display: table; }

.schedule_time_row {
  display: table-row; }

.schedule_time_row + .schedule_time_row {
  border-top: 1px dotted #dddddd;
  padding-top: 5px;
  margin-top: 5px; }

.schedule_time_row span {
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis; }

.schedule_time_table {
  margin-left: 100px; }

.schedule_time_table_franchise {
  font-weight: bold;
  padding: 0 0 0 20px; }

.schedule_time_table_status {
  color: #888888;
  padding: 0 20px;
  text-align: right;
  white-space: nowrap;
  font-size: 12px; }

.schedule_time_table_status.new {
  color: #db3a22;
  font-weight: bold; }

.schedule_time_table_details {
  width: 100%; }

aside .schedule h4 {
  margin: 0;
  border: none; }
aside .schedule_calendar span {
  display: inline; }
aside .schedule_calendar {
  float: none;
  width: auto; }
aside .schedule_rhs {
  margin-left: 0; }
aside .schedule_calendar, aside .schedule_calendar_number {
  padding: 5px 0;
  font-size: 14px; }

.schedule_show .schedule {
  width: 66%;
  float: left; }

.articlelist_row {
  overflow: hidden; }
  .articlelist_row a {
    color: black;
    text-decoration: none; }
  .articlelist_row a:hover {
    text-decoration: underline; }

.articlelist_row {
  margin: 0;
  padding: 0;
  display: block; }
  .articlelist_row + .articlelist_row {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dotted #cccccc; }

.articlelist_thumb {
  float: left; }
  .articlelist_thumb img {
    width: 122px;
    height: 76px;
    margin-right: 1em; }

.articlelist_title {
  display: block;
  font-weight: bold;
  margin-left: 135px; }

.articlelist_more {
  float: right;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px; }

.articlelist_para {
  margin: 10px 0 10px 135px; }

.hero {
  padding: 0 0 30px 0; }

.hero_box {
  background-color: #0c0c0c; }

#hero_video {
  margin-right: 320px;
  background-color: black; }

.hero_rhs {
  float: right;
  width: 300px;
  padding: 20px 0 0 0; }

#hero_switcher {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid black;
  font-size: 13px;
  color: #6b6b6b;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden; }
  #hero_switcher li {
    float: left;
    cursor: pointer; }
  #hero_switcher li:hover span {
    color: #db3a22; }
  #hero_switcher span {
    display: block;
    padding: 20px 12px 10px 12px; }
  #hero_switcher li.selected {
    border: 2px solid black;
    background-color: black; }
    #hero_switcher li.selected span {
      border-top: 3px solid #db3a22;
      color: #db3a22;
      padding: 15px 10px 8px; }

.hero_channel {
  height: 60px;
  padding: 12px;
  overflow: hidden;
  background-color: black;
  color: #6b6b6b;
  cursor: pointer;
  margin-right: 1px; }
  .hero_channel .thumb {
    border: 2px solid #6b6b6b;
    float: left;
    height: 56px;
    width: 99px;
    margin-right: 10px;
    opacity: 0.8; }
  .hero_channel .statusbar {
    font-size: 11px;
    text-transform: uppercase; }
  .hero_channel .status {
    font-weight: bold;
    vertical-align: middle; }
  .hero_channel .title {
    color: white;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word; }

.hero_channel:hover {
  border-right: 3px solid #aaaaaa;
  padding-right: 9px;
  background-color: #111111; }
  .hero_channel:hover .thumb {
    border-color: #aaaaaa;
    opacity: 1; }

.hero_channel.watching {
  border-right: 3px solid #db3a22;
  padding-right: 9px;
  background: url(http://media.ign.com/ev/esports/ipl-static/ipl-site/v2/images/hero_watching_arrow.gif) 4px center no-repeat #262626; }
  .hero_channel.watching .thumb {
    opacity: 1; }
  .hero_channel.watching .statusbar {
    color: #aaaaaa; }

.hero_channel.live .status {
  color: #db3a22;
  font-size: 12px; }

#hero_slider_wrapper {
  position: relative;
  overflow: hidden; }

#hero_slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.hero_slider_btn {
  position: absolute;
  width: 100%;
  height: 26px;
  background: url(http://media.ign.com/ev/esports/ipl-static/ipl-site/v2/images/hero_scroll_sprite.png);
  background-repeat: repeat-x;
  cursor: pointer; }

#hero_slider_up {
  top: 0;
  background-position: top center; }

#hero_slider_down {
  bottom: 0;
  background-position: bottom center; }

.hero_related {
  display: block;
  height: 36px;
  padding: 12px;
  overflow: hidden;
  background-color: black;
  color: #6b6b6b;
  cursor: pointer;
  text-decoration: none; }
  .hero_related .thumb {
    border: 2px solid #6b6b6b;
    float: left;
    height: 32px;
    width: 56px;
    margin-right: 10px;
    opacity: 0.8; }
  .hero_related .title {
    color: white;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word; }

.hero_related:hover .title {
  color: #db3a22; }
.hero_related:hover .thumb {
  border-color: #db3a22; }

.hero_bottom_wrapper {
  width: 100%;
  display: table; }

.hero_bottom {
  display: table-row;
  border-collapse: collapse;
  border-spacing: 0;
  clear: both; }

.hero_bottom_cell {
  display: table-cell;
  background-color: black;
  color: #999999;
  padding: 20px;
  overflow: hidden;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .hero_bottom_cell h2 {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 14px;
    margin: 0 0 15px 0;
    color: white; }
  .hero_bottom_cell a {
    color: #aaaaaa;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block; }
    .hero_bottom_cell a:hover {
      color: #db3a22;
      text-decoration: underline; }

.hero_video_details {
  width: 35%;
  min-width: 340px;
  border-bottom: 20px solid #0c0c0c;
  position: relative; }
  .hero_video_details .redstripe {
    position: relative;
    right: 18px;
    border-left: 3px solid #db3a22;
    padding-left: 15px; }
  .hero_video_details h1 {
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: white; }
  .hero_video_details p {
    font-size: 16px;
    line-height: 22px; }

.hero_now_watching {
  color: #db3a22;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3px;
  font-size: 13px; }

.hero_featured_article {
  border-top: 20px solid #0c0c0c;
  border-left: 20px solid #0c0c0c;
  height: 160px; }

.hero_featured_article_text {
  height: 100%; }

.hero_featured_image_wrapper {
  position: relative;
  float: left;
  width: 270px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #222222;
  height: 100%;
  display: block;
  cursor: pointer; }
  .hero_featured_image_wrapper p {
    margin: 0; }

.hero_featured_image_wrapper:hover {
  border-color: #6b6b6b; }

.hero_featured_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.hero_featured_title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-transform: uppercase;
  z-index: 1;
  text-indent: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold; }

.hero_featured_read {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  text-transform: uppercase;
  height: 20px;
  line-height: 20px;
  padding: 0 10px 0 10px;
  color: #6b6b6b; }

.hero_related_links {
  float: right;
  width: 280px;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 12px;
  border-left: 1px solid #222222; }
  .hero_related_links ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    @media screen and (max-width: 1279px) {
      .hero_related_links ul li:nth-last-of-type(1) {
        display: none; } }
  .hero_related_links li + li {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px dotted #222222; }

.article_list {
  padding: 0;
  margin: 0; }

.article_list_container {
  width: 66%; }
  .article_list_container header {
    margin: 0 0 0.5em; }
  .article_list_container h3 {
    margin: 0;
    font-size: 18px; }
  .article_list_container p {
    font-size: 16px;
    margin: 0 0 0 135px;
    line-height: 1.4; }

.articlelist_pub_date, .article_pub_date {
  color: #999999;
  margin: 0.5em 0; }

.article_list_aside, .article_aside {
  float: right;
  min-width: 300px;
  width: 30%; }

.pagination {
  text-align: center;
  font-size: 16px;
  border: 1px solid #cccccc;
  margin: 30px 0;
  padding: 20px 0;
  background-color: transparent; }

.pagination_page {
  margin: 0 0.5em; }

.article_wrapper, .tournament_show_wrapper, .leaderboard_wrapper, .article_list_wrapper {
  padding: 1.5em 1em;
  background-color: white;
  border-top: 10px solid #333333;
  -moz-box-shadow: 0 0 8px #cccccc;
  -webkit-box-shadow: 0 0 8px #cccccc;
  box-shadow: 0 0 8px #cccccc; }

.article_aside {
  margin-top: 1em; }

.article_content_main, .tournament_show {
  margin: 0;
  float: left;
  width: 66%;
  border-bottom: 1px dashed #a6a6a6;
  margin: 0 0 2em 0;
  padding-bottom: 2em;
  font-size: 16px;
  line-height: 1.5;
  font-family: "helvetica neue", arial, sans-serif; }
  .article_content_main header, .tournament_show header {
    font-family: "proxima nova", "proxima-nova-1", "proxima-nova-2", "helvetica neue", arial, sans-serif; }
  .article_content_main p, .tournament_show p {
    margin: 0 0 1em; }

.article_pub_date {
  text-transform: uppercase;
  font-size: 11px; }

.article_author {
  padding: 1em 0;
  margin: 0 330px 1em 0;
  border-bottom: 1px dashed #a6a6a6;
  font-weight: bold;
  font-size: 14px; }

.article_title {
  font-size: 30px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid black; }

.article_content_disqus {
  width: 66%; }

.alignright {
  float: right;
  margin-right: 12px; }

.alignleft {
  float: left;
  margin-right: 12px; }

img.aligncenter {
  display: block;
  text-align: center;
  margin: auto; }

.video_show_disqus {
  float: left;
  width: 66%; }

.video_show_sidebar {
  float: right;
  width: 30%; }

.content_header + #videolist {
  margin-top: -20px; }

.videolist_cell {
  float: left;
  border-right: 1px dotted #cccccc;
  border-bottom: 1px dotted #cccccc;
  padding: 15px 0 15px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.videolist_cell:hover {
  background-color: #f1f1f1; }

.videolist_lining {
  display: block;
  width: 160px;
  margin: auto;
  line-height: 14px; }
  .videolist_lining a {
    text-decoration: none; }

.videolist_thumb {
  display: block;
  width: 100%; }
  .videolist_thumb img {
    margin-bottom: 10px;
    width: 160px;
    height: 90px;
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }

.videolist_channel {
  margin-bottom: 10px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 11px;
  height: 14px; }
  .videolist_channel strong {
    margin-right: 5px;
    color: #999999; }

.videolist_title {
  display: block;
  font-weight: bold;
  height: 30px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word; }

.videolist_published {
  display: block;
  color: #999999;
  font-size: 11px;
  margin-top: 5px; }

.tournament_list {
  list-style: none; }

.tournament_list_item {
  float: left;
  width: 32%;
  padding: 0;
  margin: 0 1% 1% 0;
  text-align: center;
  border: 1px dotted #dddddd; }
  .tournament_list_item a {
    display: block;
    height: 100%;
    padding: 1em 0; }
    .tournament_list_item a:hover {
      background-color: #f1f1f1; }
  .tournament_list_item img {
    display: block;
    margin: 0 auto; }

.tournament_show.full-width {
  width: 100%; }

.tournament_info {
  float: right;
  width: 30%; }

.streamslist_wrapper + .streamslist_wrapper {
  border-top: 1px dotted #cccccc;
  padding-top: 10px;
  margin-top: 10px; }

.streamslist_thumb_a {
  float: left; }

.streamslist_thumb {
  width: 100px;
  height: 56px;
  display: block;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }

.streamslist_franchise {
  text-transform: uppercase;
  font-size: 11px;
  color: #999999; }

.streamslist_title {
  display: block;
  text-decoration: none; }

.streamslist_franchise,
.streamslist_title {
  margin-left: 110px; }

.sponsors {
  text-align: center; }

.sponsors_item {
  border: 1px dotted #cccccc;
  display: inline-block;
  width: 25%;
  margin: auto;
  background-color: #f9f9f9; }
  .sponsors_item:hover {
    background-color: #f1f1f1; }

.description p {
  margin: 0.5em 0; }

.poll_container {
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0; }

.poll_results {
  position: relative;
  padding: 0 20px;
  text-align: center;
  background-color: black; }
  .poll_results .team-percent {
    display: block;
    height: 10px;
    line-height: 10px;
    width: 20%;
    text-align: center; }
    .poll_results .team-percent.team-2 {
      float: right; }
  .poll_results .chart {
    background-color: #516e9d;
    position: relative;
    height: 10px;
    width: 60%;
    margin: 0 auto 1em; }
  .poll_results .percent {
    height: 10px;
    -webkit-transition: width 300ms linear;
    -moz-transition: width 300ms linear;
    -ms-transition: width 300ms linear;
    -o-transition: width 300ms linear;
    transition: width 300ms linear;
    test-align: center;
    font-size: 1.5em;
    text-align: center;
    position: relative;
    background-color: #516e9d;
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0; }
    .poll_results .percent:hover:after {
      background-color: #516e9d; }
    .poll_results .percent.team-1 {
      color: white;
      z-index: 1; }
    .poll_results .percent.team-2 {
      right: 0;
      left: auto;
      z-index: 2;
      color: white;
      background-color: #ba3a32; }
  .poll_results .team-1 {
    color: #516e9d;
    float: left; }
    .poll_results .team-1 button {
      color: #516e9d; }
  .poll_results .team-2 {
    color: #ba3a32;
    float: left; }
    .poll_results .team-2 button {
      color: #ba3a32; }
  .poll_results .team {
    width: 50%; }
  .poll_results .label {
    line-height: 1;
    margin-bottom: 1.5em;
    position: relative; }
    .poll_results .label .potential-label {
      font-family: "helvetica neue", sans-serif;
      color: white;
      font-size: 12px;
      font-weight: bold; }
      .poll_results .label .potential-label span {
        float: none;
        color: white; }
    .poll_results .label .team-2 {
      float: right; }
    .poll_results .label div {
      width: 45%; }
    .poll_results .label .separator {
      width: 10%;
      padding: 0; }
    .poll_results .label i {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 3px 5px;
      border-radius: 0.25em;
      display: block;
      font-style: normal;
      background-color: #616161;
      text-shadow: 0 1px solid #8fa4c5;
      background-image: -webkit-linear-gradient(top, #616161, #777777);
      background-image: -moz-linear-gradient(top, #616161, #777777);
      background-image: -o-linear-gradient(top, #616161, #777777);
      background-image: -ms-linear-gradient(top, #616161, #777777);
      background-image: linear-gradient(top, #616161, #777777); }
      .poll_results .label i:hover {
        cursor: pointer;
        background-image: -webkit-linear-gradient(top, #949494, #aaaaaa);
        background-image: -moz-linear-gradient(top, #949494, #aaaaaa);
        background-image: -o-linear-gradient(top, #949494, #aaaaaa);
        background-image: -ms-linear-gradient(top, #949494, #aaaaaa);
        background-image: linear-gradient(top, #949494, #aaaaaa); }
      .poll_results .label i:active:hover, .poll_results .label i.disabled:hover {
        cursor: default; }
      .poll_results .label i p {
        font-weight: normal;
        font-style: normal;
        font-size: 1.25em;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: white; }
    .poll_results .label .team-1 i:active, .poll_results .label .team-1 i.disabled {
      background-color: #516e9d;
      background-image: -webkit-linear-gradient(top, #98a4c1, #516e9d);
      background-image: -moz-linear-gradient(top, #98a4c1, #516e9d);
      background-image: -o-linear-gradient(top, #98a4c1, #516e9d);
      background-image: -ms-linear-gradient(top, #98a4c1, #516e9d);
      background-image: linear-gradient(top, #98a4c1, #516e9d); }
    .poll_results .label .team-2 i:active, .poll_results .label .team-2 i.disabled {
      background-color: #ba3a32;
      background-image: -webkit-linear-gradient(top, #b88981, #ba3a32);
      background-image: -moz-linear-gradient(top, #b88981, #ba3a32);
      background-image: -o-linear-gradient(top, #b88981, #ba3a32);
      background-image: -ms-linear-gradient(top, #b88981, #ba3a32);
      background-image: linear-gradient(top, #b88981, #ba3a32); }
    .poll_results .label span {
      width: 6%;
      padding: 0 1%;
      text-align: center;
      line-height: 1;
      float: left;
      margin-top: 2em; }
    .poll_results .label p {
      text-align: center;
      font-size: 0.8em;
      font-weight: bold; }
    .poll_results .label .cover {
      -webkit-transition: left 300ms linear;
      -moz-transition: left 300ms linear;
      -ms-transition: left 300ms linear;
      -o-transition: left 300ms linear;
      transition: left 300ms linear;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 100%;
      background-color: black;
      background-color: rgba(0, 0, 0, 0.7);
      text-align: center;
      line-height: 72px;
      font-size: 18px;
      display: none; }
  .poll_results.isSubmitting .cover {
    display: block;
    left: 0;
    background-image: url(http://media.ign.com/ev/esports/ipl-static/ipl-site/images/ajax-loader.gif);
    background-position: center center;
    background-repeat: no-repeat; }
  .poll_results p {
    margin: 0 0 0.25em;
    font-size: 14px; }
  .poll_results a {
    color: #b21b00;
    text-decoration: underline;
    font-size: 14px; }
  .poll_results .signin {
    font-size: 1.2em;
    float: left; }
    .poll_results .signin a {
      display: inline; }
  .poll_results .rules {
    float: right;
    font-size: 0.8em; }
  .poll_results .payout {
    clear: both;
    text-align: center; }
  .poll_results h4 {
    margin: 0 0 0.5em;
    font-size: 1.25em;
    line-height: 2; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

/** leaderboard page ** */
#vote-leaderboard {
  background-color: white;
  padding: 1em;
  margin-bottom: 1em; }
  #vote-leaderboard .leaderboard {
    float: left;
    width: 33%;
    background-color: white; }
    #vote-leaderboard .leaderboard table {
      width: 100%; }
      #vote-leaderboard .leaderboard table td {
        padding: 0.25em;
        border: 1px solid black; }
    #vote-leaderboard .leaderboard thead {
      background-color: white;
      background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
      background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
      background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
      background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
      background-image: linear-gradient(top, #eeeeee, #cccccc); }
    #vote-leaderboard .leaderboard tbody tr:nth-of-type(odd) {
      background-color: white; }
    #vote-leaderboard .leaderboard tbody tr:nth-of-type(even) {
      background-color: #e6e6e6; }
  #vote-leaderboard .rule-container {
    float: right;
    width: 66%; }
    #vote-leaderboard .rule-container .ipl-pc {
      float: right;
      border-radius: 1em; }
    #vote-leaderboard .rule-container .ipl5-logo {
      margin: 0 auto;
      display: block; }
  #vote-leaderboard #user-score table {
    width: 100%; }
    #vote-leaderboard #user-score table td {
      padding: 0.25em;
      border: 1px solid black; }
  #vote-leaderboard #user-score thead {
    background-color: white;
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(top, #eeeeee, #cccccc); }
  #vote-leaderboard #user-score tbody tr:nth-of-type(odd) {
    background-color: white; }
  #vote-leaderboard #user-score tbody tr:nth-of-type(even) {
    background-color: #e6e6e6; }
  #vote-leaderboard .rules, #vote-leaderboard .howtoplay, #vote-leaderboard #user-score {
    margin-bottom: 1em; }
  #vote-leaderboard .rules {
    clear: both; }

@media screen and (min-width: 1680px) {
  .content,
  .leaderboard,
  .hero,
  .boxscores,
  .sponsors {
    background-image: url(http://oystatic.ignimgs.com/src/ignmedia/img/articles/runner.gif);
    background-position: left;
    background-repeat: repeat-y; } }
@media screen and (min-width: 1440px) {
  .site_width {
    width: 1385px; }

  .boxscores_block {
    width: 346px; }

  .videolist_cell {
    width: 20%; }

  .videolist_cell:nth-child(5n) {
    border-right: none; }

  .hero_featured_article {
    height: 305px; }

  .hero_featured_image_wrapper {
    width: 540px; } }
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .site_width {
    width: 1225px; }

  .boxscores_block {
    width: 306px; }

  .videolist_cell {
    width: 25%; }

  .videolist_cell:nth-child(4n) {
    border-right: none; }

  .hero_featured_article {
    height: 246px; }

  .hero_featured_image_wrapper {
    width: 435px; }

  .hero_related_links ul li:nth-of-type(n + 7) {
    display: none; } }
@media screen and (max-width: 1279px) {
  body {
    font-size: 12px; }

  .site_width {
    width: 970px; }

  .boxscores_block {
    width: 242px; }

  .videolist_cell {
    width: 33.33%; }

  .videolist_cell:nth-child(3n) {
    border-right: none; }

  .hero_video_details p {
    font-size: 14px;
    line-height: 18px; }

  .hero_related_links ul li:nth-of-type(n + 5) {
    display: none; } }
body.takeover .site_width,
body.takeover .leaderboard,
body.takeover .hero {
  margin: auto;
  width: 970px; }
body.takeover .content,
body.takeover .content > .site_width {
  width: 950px;
  margin: auto; }
body.takeover .content {
  padding: 10px; }

#disqus_thread {
  clear: none !important; }
