<!doctype html>

  <head>
    <meta charset="utf-8">
    <title>Welcome to the Retina (Real-Time Node Application) Viewport</title>
    <link href="css/style.css" rel="stylesheet" />
  </head>


  <body>

    <div class="starcraft-2_largePoll">
      <div class="starcraft-2_largePoll_question">Q. Who will win todays final and go on to be champion?</div>
      <div class="starcraft-2_largePoll_votes">358</div>
      <div class="starcraft-2_largePoll_tile"></div>
      <div class="starcraft-2_largePoll_bar">
        <div class="starcraft-2_largePoll_bar_sub"></div>
      </div>
      <div class="starcraft-2_largePoll_baroverlay"></div>
      <div class="starcraft-2_largePoll_player starcraft-2_largePoll_player_left">MarineKing.PRIME</div>
      <div class="starcraft-2_largePoll_player starcraft-2_largePoll_player_right">MVP.Nestea</div>
      <div class="starcraft-2_largePoll_percentage starcraft-2_largePoll_percentage_left">50%</div>
      <div class="starcraft-2_largePoll_percentage starcraft-2_largePoll_percentage_right">50%</div>
    </div>

    <div class="starcraft-2_largePoll">
      <div class="starcraft-2_largePoll_question">Q. Who will win todays final and go on to be champion?</div>
      <div class="starcraft-2_largePoll_votes">358</div>
      <div class="starcraft-2_largePoll_tile"></div>
      <div class="starcraft-2_largePoll_bar">
        <div class="starcraft-2_largePoll_bar_sub"></div>
      </div>
      <div class="starcraft-2_largePoll_baroverlay"></div>
      <div class="starcraft-2_largePoll_player starcraft-2_largePoll_player_left">MarineKing.PRIME</div>
      <div class="starcraft-2_largePoll_player starcraft-2_largePoll_player_right">MVP.Nestea</div>
      <div class="starcraft-2_largePoll_percentage starcraft-2_largePoll_percentage_left">50%</div>
      <div class="starcraft-2_largePoll_percentage starcraft-2_largePoll_percentage_right">50%</div>
    </div>

    <div class="league-of-legends_largePoll"></div>
    <div class="league-of-legends_largePoll"></div>

  </body>

</html>