@charset "UTF-8";
/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231; }

body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection {
  background: #b21b00;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #b21b00;
  color: #fff;
  text-shadow: none; }

/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #06e; }

a:focus {
  outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button, input {
  line-height: normal;
  *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */
table button, table input {
  *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent; }

.ir br {
  display: none; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */ }

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */ }

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }

.tournamentpage {
  float: left;
  width: 66%;
  background-color: white;
  padding: 1em;
  margin-bottom: 1em; }
  .tournamentpage h2 {
    margin-bottom: 0.5em; }
  .tournamentpage ul li {
    float: left;
    margin: 0 5% 3em 0;
    text-align: center;
    width: 29.6%; }
    .tournamentpage ul li:nth-of-type(3n+3) {
      margin-right: 0; }
    .tournamentpage ul li a {
      font-size: 16px; }
      .tournamentpage ul li a img {
        display: block; }

object {
  position: relative;
  z-index: 10; }

#match-list {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 990;
  -webkit-transition: bottom 300ms;
  -moz-transition: bottom 300ms;
  -ms-transition: bottom 300ms;
  -o-transition: bottom 300ms;
  transition: bottom 300ms; }
  #match-list .hiding {
    display: none; }
  #match-list .showing {
    display: block; }
  #match-list.offscreen {
    bottom: -103px; }
    #match-list.offscreen .hiding {
      display: block; }
    #match-list.offscreen .showing {
      display: none; }
  #match-list a {
    color: white;
    text-decoration: none; }
  #match-list .match-title {
    border-bottom: 1px solid #292929;
    background: #404040;
    background: -moz-linear-gradient(top, #404040 0, #151515 100%);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#404040), to(#151515));
    background: -webkit-linear-gradient(top, #404040 0, #151515 100%);
    background: -o-linear-gradient(top, #404040 0, #151515 100%);
    background: -ms-linear-gradient(top, #404040 0, #151515 100%);
    background: linear-gradient(top, #404040 0, #151515 100%);
    padding: 0.5em 37px; }
    #match-list .match-title > span {
      color: white;
      font-weight: bold;
      font-size: 16px;
      margin: 0 0.5em; }
    #match-list .match-title .next {
      margin-right: 2em; }
    #match-list .match-title h4 {
      color: #b21b00;
      font-size: 18px;
      display: inline; }
    #match-list .match-title i {
      font-size: 16px;
      -webkit-box-shadow: inset 1px 11px 20px 1px white;
      -moz-box-shadow: inset 1px 11px 20px 1px white;
      box-shadow: inset 1px 11px 20px 1px white;
      background-color: #ededed;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
      background-image: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
      background-image: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
      background-image: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
      background-image: -linear-gradient(top, #ededed 5%, #dfdfdf 100%);
      -webkit-border-radius: 0.25em;
      -moz-border-radius: 0.25em;
      border-radius: 0.25em;
      display: inline-block;
      list-style: none;
      vertical-align: top;
      /* For IE 7 */
      zoom: 1;
      *display: inline;
      color: #333333;
      font-size: 11px;
      font-weight: bold;
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      padding: 0 0.5em;
      margin-top: 0.5em; }
      #match-list .match-title i:active {
        position: relative;
        top: 1px; }
    #match-list .match-title .hide {
      float: right; }
      #match-list .match-title .hide span {
        height: 13px; }
  #match-list .es-carousel-wrapper {
    background: #222222; }
    #match-list .es-carousel-wrapper .games {
      padding: 0.5em;
      background: #444444; }
      #match-list .es-carousel-wrapper .games li {
        float: left;
        margin: 0;
        opacity: 0.5;
        -webkit-transition: opacity 300ms;
        -moz-transition: opacity 300ms;
        -ms-transition: opacity 300ms;
        -o-transition: opacity 300ms;
        transition: opacity 300ms;
        font-size: 11px; }
        #match-list .es-carousel-wrapper .games li.playing {
          opacity: 1; }
          #match-list .es-carousel-wrapper .games li.playing p {
            display: block; }
        #match-list .es-carousel-wrapper .games li:hover {
          opacity: 1; }
        #match-list .es-carousel-wrapper .games li p {
          display: none; }
        #match-list .es-carousel-wrapper .games li a {
          display: block;
          background: black;
          padding: 0 0.25em;
          width: 246px; }
          #match-list .es-carousel-wrapper .games li a span {
            margin: 0 0.5em 0 0; }
          #match-list .es-carousel-wrapper .games li a .details {
            width: 95px;
            overflow: hidden;
            position: relative;
            float: right;
            height: 79px;
            padding: 11px 0.5em; }
            #match-list .es-carousel-wrapper .games li a .details p {
              margin: 0 0 0.5em 0;
              background: #222222;
              color: #b21b00;
              text-align: center;
              font-weight: bold;
              text-transform: uppercase; }

header[role=banner] > div {
  background: black; }
  header[role=banner] > div.main {
    border-bottom: 1px solid #292929;
    background: #404040;
    background: -moz-linear-gradient(top, #404040 0, #151515 100%);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#404040), to(#151515));
    background: -webkit-linear-gradient(top, #404040 0, #151515 100%);
    background: -o-linear-gradient(top, #404040 0, #151515 100%);
    background: -ms-linear-gradient(top, #404040 0, #151515 100%);
    background: linear-gradient(top, #404040 0, #151515 100%); }
  header[role=banner] > div > div {
    margin: auto;
    width: 970px;
    max-width: 1300px; }
header[role=banner].subNavOut {
  margin-bottom: 3em; }
header[role=banner] a {
  color: white;
  text-decoration: none; }
  header[role=banner] a:hover {
    color: #b21b00; }
header[role=banner] > p {
  font-size: 16px;
  position: relative;
  line-height: 25px;
  display: inline-block;
  list-style: none;
  vertical-align: top;
  /* For IE 7 */
  zoom: 1;
  *display: inline; }
  header[role=banner] > p span {
    text-transform: none; }
header[role=banner] .dropdown {
  position: relative; }
  header[role=banner] .dropdown:hover .additionalContent {
    display: block; }
header[role=banner] .additionalContent {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 14em;
  min-width: 100%;
  background: black;
  display: none; }
  header[role=banner] .additionalContent ul {
    width: 100%; }
    header[role=banner] .additionalContent ul li {
      border: none;
      text-align: left;
      float: none; }
      header[role=banner] .additionalContent ul li a {
        padding: 0.5em 1em;
        display: block;
        line-height: 100%; }
        header[role=banner] .additionalContent ul li a:hover {
          background: #b21b00;
          color: white; }
  header[role=banner] .additionalContent div {
    margin: 0;
    float: left;
    height: 100%; }
  header[role=banner] .additionalContent img {
    height: 100%;
    float: left; }
  header[role=banner] .additionalContent span {
    position: absolute;
    top: 1em;
    left: 41em; }
header[role=banner] h1 {
  float: left;
  margin: 0;
  padding: 0; }
  header[role=banner] h1 a {
    display: block;
    height: 100%;
    width: 50px;
    background: url(http://media.ign.com/ev/esports/ipl-static/ipl-site/images/IPL_logo_red_text_no_shield_white_ign_37x30.png) center center no-repeat;
    text-indent: -999em;
    padding: 0.1em 1.2em;
    border-right: 1px solid #292929;
    border-left: 1px solid #292929; }
header[role=banner] ul {
  float: right;
  height: 100%; }
  header[role=banner] ul li {
    margin: 0;
    border: none;
    height: 100%;
    float: left;
    position: relative; }
    header[role=banner] ul li.current a {
      color: #b21b00; }
    header[role=banner] ul li a {
      display: block;
      padding: 0 0.5em;
      position: relative;
      height: 100%; }
header[role=banner] .primaryNav {
  height: 34px; }
  header[role=banner] .primaryNav ul li {
    border-right: 1px solid #292929; }
    header[role=banner] .primaryNav ul li a {
      font-size: 18px;
      text-transform: uppercase;
      line-height: 34px; }
header[role=banner] .subNav {
  width: 970px;
  max-width: 1300px;
  background: black;
  margin: 0 auto; }
  header[role=banner] .subNav a {
    color: #999999;
    font-weight: 700;
    padding: 0.5em;
    display: inline-block;
    list-style: none;
    vertical-align: top;
    /* For IE 7 */
    zoom: 1;
    *display: inline;
    height: 100%; }
    header[role=banner] .subNav a:hover {
      color: #b21b00; }
  header[role=banner] .subNav p {
    float: left;
    margin: 0; }
    header[role=banner] .subNav p span {
      padding: 0.5em 0;
      display: inline-block;
      list-style: none;
      vertical-align: top;
      /* For IE 7 */
      zoom: 1;
      *display: inline;
      font-weight: bold;
      color: #b21b00; }
  header[role=banner] .subNav ul .ignHeader {
    text-decoration: underline; }
  header[role=banner] .subNav ul .ipltv a {
    background: url(http://media.ign.com/ev/esports/ipl-static/ipl-site/images/nav/television.png) no-repeat center center;
    text-indent: -999em;
    width: 50px;
    background-size: 15px 15px; }

#posts {
  float: left;
  width: 66%;
  background-color: white;
  padding: 1em;
  margin: 0 0 1em;
  clear: none;
  font-size: 16px;
  line-height: 24px; }
  #posts table {
    margin: auto; }
  #posts td {
    border: 1px solid black;
    text: center;
    padding: 0.5em; }
  #posts header {
    margin: 0 0 1em;
    border-bottom: 1px dashed #a6a6a6; }
    #posts header h2 {
      font-size: 1.5em;
      line-height: 1.5em;
      border-bottom: 1px solid black;
      padding-bottom: 0.5em; }
    #posts header img {
      float: right;
      max-width: 150px; }
      #posts header img.postGame {
        max-width: 100px; }
    #posts header p {
      margin: 0;
      padding: 0.5em 0; }
  #posts a {
    color: #b21b00;
    text-decoration: none; }
    #posts a:hover {
      text-decoration: underline; }
  #posts ul {
    margin: 1em 0;
    padding-left: 40px; }
    #posts ul li {
      list-style-type: disc; }
  #posts h4 {
    margin: 0; }
  #posts p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 6px 24px 0; }
    #posts p:empty {
      display: none; }
    #posts p img {
      margin: 0 1em 1em 0; }
      #posts p img.directions {
        float: none;
        margin: auto;
        display: block; }
  #posts .alignleft {
    float: left;
    margin-right: 12px; }
  #posts .alignright {
    float: right;
    margin-left: 12px; }
  #posts .aligncenter {
    text-align: center;
    margin: auto; }
  #posts img.aligncenter {
    display: block; }
  #posts .alignnone {
    float: none; }
  #posts .article-list {
    margin: 0;
    padding: 0; }
    #posts .article-list li {
      border-bottom: 1px dashed #a6a6a6;
      margin-bottom: 1em;
      padding-bottom: 1em;
      list-style-type: none; }
      #posts .article-list li > article header {
        margin: 0;
        padding: 0;
        border: none; }
        #posts .article-list li > article header h3 {
          font-size: 18px; }
        #posts .article-list li > article header a {
          color: #333333; }
          #posts .article-list li > article header a:hover {
            color: #b21b00; }
      #posts .article-list li > article p {
        margin: 0; }
        #posts .article-list li > article p span {
          margin-left: 0; }
  #posts iframe .splurgy-unit-frame {
    height: 700px !important; }

.pagination span {
  padding: 0 0.25em; }

#headlines h3 {
  font-size: 18px;
  margin-bottom: 0.5em; }

.article_author {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  padding-top: 3px;
  margin: 0; }

.article_pub_date {
  color: #999999;
  font-size: 11px;
  font-weight: bold;
  line-height: 24px;
  margin-left: 10px;
  padding-top: 3px;
  text-transform: uppercase; }

.article_title {
  font-family: "helvetica neue", arial, sans-serif;
  color: #333333;
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  margin: 0; }

.article_content h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 2px; }

.article_pager {
  padding-bottom: 12px;
  margin-left: 18px; }

.container .container_24 {
  margin-bottom: 1em; }
.container .cvr-highlights {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

#disqus_thread {
  float: left;
  width: 635px;
  margin-left: 1em; }

.evo_wrapper {
  margin: 0; }

/* Elastislide Style */
.es-carousel-wrapper {
  padding: 0 37px;
  position: relative; }

.es-carousel {
  overflow: hidden;
  background: #000; }

.es-carousel > ul {
  visibility: hidden; }

.es-carousel > ul > li {
  height: 100%;
  float: left;
  display: block; }

.es-carousel > ul.setup {
  visibility: visible; }

.es-carousel > ul.setup > li {
  width: auto !important; }

.es-nav span {
  position: absolute;
  top: 50%;
  left: 12px;
  background: transparent url(http://media.ign.com/ev/esports/ipl-static/ipl-site/stylesheets/slider/images/nav.png) no-repeat top left;
  width: 14px;
  height: 26px;
  margin-top: -13px;
  text-indent: -9000px;
  cursor: pointer;
  opacity: 0.8; }

.es-nav span.es-nav-next {
  right: 12px;
  left: auto;
  background-position: top right; }

.es-nav span:hover {
  opacity: 1.0; }

#iplTicker {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20; }
  #iplTicker a {
    color: white; }

#schedule {
  position: relative;
  clear: left;
  float: left;
  width: 66%;
  background: white;
  padding: 1em; }
  #schedule.games-1 .schedule, #schedule.games-1 .gameHeader {
    width: 80%; }
  #schedule.games-2 .schedule, #schedule.games-2 .gameHeader {
    width: 40%; }
  #schedule.games-3 .schedule, #schedule.games-3 .gameHeader {
    width: 26.667%; }
  #schedule.games-4 .schedule, #schedule.games-4 .gameHeader {
    width: 20%; }
  #schedule.games-5 .schedule, #schedule.games-5 .gameHeader {
    width: 16%; }
  #schedule.games-6 .schedule, #schedule.games-6 .gameHeader {
    width: 13.333%; }
  #schedule.games-7 .schedule, #schedule.games-7 .gameHeader {
    width: 11.429%; }
  #schedule.games-8 .schedule, #schedule.games-8 .gameHeader {
    width: 10%; }
  #schedule.games-9 .schedule, #schedule.games-9 .gameHeader {
    width: 8.889%; }
  #schedule.games-10 .schedule, #schedule.games-10 .gameHeader {
    width: 8%; }

.guide form {
  float: right;
  padding: 0 0 0.5em;
  position: relative;
  z-index: 1; }
.guide > ul {
  background: #f6f6f6; }
.guide li {
  list-style: none;
  border: 1px solid #d5d5d5;
  border-top: none;
  border-left: none; }
  .guide li p {
    margin: 0 0 0.25em; }
.guide .games {
  clear: both; }
  .guide .games li {
    float: left;
    width: 40%;
    text-align: center;
    height: 4em;
    border: 1px solid #d5d5d5;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f6f6f6));
    background: -webkit-linear-gradient(top, white, #f6f6f6);
    background: -moz-linear-gradient(top, white, #f6f6f6);
    background: -ms-linear-gradient(top, white, #f6f6f6);
    background: -o-linear-gradient(top, white, #f6f6f6);
    background: linear-gradient(to bottom, white, #f6f6f6); }
    .guide .games li.times {
      width: 20%;
      padding: 0.5em; }
      .guide .games li.times p {
        font-size: 11px; }
    .guide .games li.gameHeader {
      border-left: 0;
      padding: 0.5em; }
    .guide .games li .fullCal {
      font-size: 10px; }
.guide .dates {
  width: 20%;
  clear: left;
  float: left;
  text-align: left; }
  .guide .dates li {
    padding: 1em;
    border-left: 1px solid #d5d5d5; }
  .guide .dates time {
    float: left;
    font-size: 11px; }
    .guide .dates time span {
      font-size: 12px;
      font-weight: bold;
      float: left; }
  .guide .dates .today{min-height:80px}
  .guide .dates .today time {
    color: #b21b00; }
    .guide .dates .today time span {
      font-size: 16px; }
    .guide .dates .today time:after {
      content: "Today";
      background: #b21b00;
      padding: 0.25em;
      display: block;
      position: absolute;
      margin: 0.5em 0;
      color: white;
      border-radius: 0.25em; }
.guide .schedule {
  float: left; }
  .guide .schedule ul li {
    width: 100%;
    height: 100%;
    background: white;
    padding: 1em;
    -webkit-box-shadow: -2px 2px 2px rgba(120, 120, 120, 0.2);
    -moz-box-shadow: -2px 2px 2px rgba(120, 120, 120, 0.2);
    box-shadow: -2px 2px 2px rgba(120, 120, 120, 0.2);
    margin-bottom: 0.5em; }
    .guide .schedule ul li:nth-last-of-type(1) {
      margin-bottom: 0; }
  .guide .schedule li {
    padding: 0.25em; }
    .guide .schedule li p {
      font-size: 12px;
      font-weight: bold; }
      .guide .schedule li p time {
        color: #666666; }
      .guide .schedule li p span {
        font-weight: normal;
        margin-bottom: 0.25em; }
        .guide .schedule li p span.title {
          font-weight: bold; }
  .guide .schedule .new {
    margin-right: 0.5em;
    font-weight: bold;
    font-size: 9px;
    text-transform: uppercase;
    background: black;
    color: white;
    border-radius: 0.25em;
    padding: 0.25em 0.5em; }
  .guide .schedule .old {
    color: #999999;
    font-size: 10px; }
.guide .now {
  background: #b21b00;
  background: -webkit-gradient(linear, left top, left bottom, from(#b21b00), to(#4d0c00));
  background: -webkit-linear-gradient(top, #b21b00, #4d0c00);
  background: -moz-linear-gradient(top, #b21b00, #4d0c00);
  background: -ms-linear-gradient(top, #b21b00, #4d0c00);
  background: -o-linear-gradient(top, #b21b00, #4d0c00);
  background: linear-gradient(top, #b21b00, #4d0c00);
  padding: 0.5em 1em;
  border-radius: 0.25em;
  border: 1px solid #b21b00;
  color: white;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  list-style: none;
  vertical-align: top;
  /* For IE 7 */
  zoom: 1;
  *display: inline;
  font-size: 12px;
  margin: 0.5em 0; }
  .guide .now:hover {
    background: #e62200;
    background: -webkit-gradient(linear, left top, left bottom, from(#b21b00), to(#4d0c00));
    background: -webkit-linear-gradient(top, #e62200, #801300);
    background: -moz-linear-gradient(top, #e62200, #801300);
    background: -ms-linear-gradient(top, #e62200, #801300);
    background: -o-linear-gradient(top, #e62200, #801300);
    background: linear-gradient(top, #e62200, #801300); }
  .guide .now:active {
    position: relative;
    top: 1px; }

#scores-aside {
  text-align: center; }
  #scores-aside .date {
    height: 30px;
    line-height: 27px;
    text-align: left;
    border-bottom: 3px solid #b21b00; }
    #scores-aside .date .day_number {
      font-size: 16px;
      line-height: 16px;
      margin: 0 10px 0 0;
      float: left;
      width: 30px;
      height: 30px;
      background-color: #b21b00;
      color: white;
      font-weight: bold;
      text-align: center;
      overflow: hidden;
      padding-top: 3px;
      border-top-left-radius: 5px; }
      #scores-aside .date .day_number .month_text {
        text-transform: uppercase;
        font-size: 8px;
        line-height: 8px;
        font-weight: normal;
        margin-bottom: -2px; }
    #scores-aside .date .day_text {
      font-size: 16px;
      text-transform: uppercase; }
  #scores-aside .row + .date {
    margin-top: 10px; }
  #scores-aside .title {
    padding: 2px 2px;
    color: #666666;
    background: #eeeeee; }
    #scores-aside .title .gameAbbrev {
      font-weight: bold;
      font-size: 10px;
      text-transform: uppercase;
      padding: 1px 3px;
      background-color: #dddddd;
      border: 1px solid #999999;
      color: #333333;
      float: left;
      width: 30px;
      border-radius: 3px; }
    #scores-aside .title .text {
      margin-left: 30px;
      padding: 0 3px; }
  #scores-aside .date,
  #scores-aside .title .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  #scores-aside .row {
    display: table;
    width: 100%;
    table-layout: fixed; }
  #scores-aside .cell {
    display: table-cell;
    vertical-align: middle;
    line-height: 17px;
    padding: 5px 0 5px 0; }
  #scores-aside .cell + .cell {
    border-left: 1px solid #eeeeee; }
  #scores-aside .score1,
  #scores-aside .score2 {
    width: 30px;
    font-size: 17px; }
  #scores-aside .win {
    color: green;
    font-weight: bold; }
  #scores-aside .watch {
    width: 30px;
    background: url(../../images/view_camera.gif) center center no-repeat; }
  #scores-aside .team1,
  #scores-aside .team2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 3px; }
  #scores-aside .thumb {
    width: 20px;
    height: 20px;
    margin-right: 5px; }

#betting_offers {
  color: #222222; }
  #betting_offers #eventWrapper {
    overflow-y: scroll;
    height: 286px; }
    #betting_offers #eventWrapper .event {
      border-collapse: seperate;
      border-spacing: 0 5px;
      display: table;
      width: 100%;
      text-align: right; }
      #betting_offers #eventWrapper .event span {
        display: table-cell; }
    #betting_offers #eventWrapper .event + .event {
      border-top: 1px dotted #cccccc; }
    #betting_offers #eventWrapper .teams {
      font-weight: bold;
      width: 60%;
      text-align: left; }
  #betting_offers p {
    border: 1px solid #aaaaaa;
    background-color: #eeeeee;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 2px 3px #cccccc, 0 -1px 0px white inset;
    -webkit-box-shadow: 0 2px 3px #cccccc, 0 -1px 0px white inset;
    box-shadow: 0 2px 3px #cccccc; }
    #betting_offers p a {
      text-decoration: none;
      font-weight: bold;
      padding: 5px;
      display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #333333;
  -webkit-transition: color 300ms ease-in-out 50ms;
  -moz-transition: color 300ms ease-in-out 50ms;
  -ms-transition: color 300ms ease-in-out 50ms;
  -o-transition: color 300ms ease-in-out 50ms;
  transition: color 300ms ease-in-out 50ms; }
  a:link, a:visited {
    color: #333333; }
  a:hover {
    cursor: pointer;
    color: #b21b00; }

body {
  background: #111111;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding-bottom: 3em; }

h1, h2, h3 {
  margin: 0; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }

img, video {
  max-width: 100%; }

#flashmessage {
  display: none;
  width: 970px;
  max-width: 1300px;
  margin: auto;
  background: white;
  padding: 1em;
  margin-bottom: 1em; }
  #flashmessage > img {
    float: left;
    margin-right: 1em; }
  #flashmessage a {
    color: #b21b00;
    text-decoration: none; }
    #flashmessage a:hover {
      text-decoration: underline; }
  #flashmessage li span {
    color: #fdb531; }

.container {
  position: relative;
  width: 970px;
  max-width: 1300px;
  margin: auto;
  background-color: white;
  padding-bottom: 1em;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); }
  .container aside {
      float: right;
      clear: right;
      width: 300px;
      margin-right: 10px; }
      .container aside .header {
        height: 24px;
        overflow: hidden;
        margin: -1em 0 1em 0; }
        .container aside .header .text {
          background-color: #b21b00;
          padding: 0 10px 0 10px;
          color: white;
          font-weight: bold;
          height: 24px;
          line-height: 24px;
          float: left; }
    .container aside > div + div,
    .container aside > div + article,
    .container aside > article + article,
    .container aside > article + div {
      border-top: 1px solid #333333;
      padding-top: 1em;
      margin-top: 10px; }
    .container aside .important {
      text-align: center; }
    .container aside .promoButton {
      background: #b21b00;
      background: -webkit-gradient(linear, left top, left bottom, from(#b21b00), to(#4d0c00));
      background: -webkit-linear-gradient(top, #b21b00, #4d0c00);
      background: -moz-linear-gradient(top, #b21b00, #4d0c00);
      background: -ms-linear-gradient(top, #b21b00, #4d0c00);
      background: -o-linear-gradient(top, #b21b00, #4d0c00);
      background: linear-gradient(top, #b21b00, #4d0c00);
      padding: 0.5em 1em;
      border-radius: 0.25em;
      border: 1px solid #b21b00;
      color: white;
      font-size: 16px;
      text-decoration: none;
      display: inline-block;
      list-style: none;
      vertical-align: top;
      /* For IE 7 */
      zoom: 1;
      *display: inline;
      display: inline-block;
      list-style: none;
      vertical-align: top;
      /* For IE 7 */
      zoom: 1;
      *display: inline; }
      .container aside .promoButton:hover {
        background: #e62200;
        background: -webkit-gradient(linear, left top, left bottom, from(#b21b00), to(#4d0c00));
        background: -webkit-linear-gradient(top, #e62200, #801300);
        background: -moz-linear-gradient(top, #e62200, #801300);
        background: -ms-linear-gradient(top, #e62200, #801300);
        background: -o-linear-gradient(top, #e62200, #801300);
        background: linear-gradient(top, #e62200, #801300); }
      .container aside .promoButton:active {
        position: relative;
        top: 1px; }
    .container aside .featured-event {
      text-align: center; }
      .container aside .featured-event img {
        margin-bottom: 1em; }
    .container aside #headlines ul {
      margin-left: 1.4em; }
      .container aside #headlines ul li {
        list-style-type: square; }
    .container aside .featured-medrec {
      width: 300px;
      background-color: black;
      padding: 0;
      margin: 1em auto 0;
      color: white; }
      .container aside .featured-medrec .inner {
        padding: 1em;
        text-align: center; }
        .container aside .featured-medrec .inner .buttons p {
          text-align: center; }
          .container aside .featured-medrec .inner .buttons p a {
            background: #b21b00;
            background: -webkit-gradient(linear, left top, left bottom, from(#b21b00), to(#4d0c00));
            background: -webkit-linear-gradient(top, #b21b00, #4d0c00);
            background: -moz-linear-gradient(top, #b21b00, #4d0c00);
            background: -ms-linear-gradient(top, #b21b00, #4d0c00);
            background: -o-linear-gradient(top, #b21b00, #4d0c00);
            background: linear-gradient(top, #b21b00, #4d0c00);
            padding: 0.5em 1em;
            border-radius: 0.25em;
            border: 1px solid #b21b00;
            color: white;
            font-size: 16px;
            text-decoration: none;
            display: inline-block;
            list-style: none;
            vertical-align: top;
            /* For IE 7 */
            zoom: 1;
            *display: inline; }
            .container aside .featured-medrec .inner .buttons p a:hover {
              background: #e62200;
              background: -webkit-gradient(linear, left top, left bottom, from(#b21b00), to(#4d0c00));
              background: -webkit-linear-gradient(top, #e62200, #801300);
              background: -moz-linear-gradient(top, #e62200, #801300);
              background: -ms-linear-gradient(top, #e62200, #801300);
              background: -o-linear-gradient(top, #e62200, #801300);
              background: linear-gradient(top, #e62200, #801300); }
            .container aside .featured-medrec .inner .buttons p a:active {
              position: relative;
              top: 1px; }
        .container aside .featured-medrec .inner ul li {
          font-size: 12px;
          margin-bottom: 3px; }
    .container aside .sugarad {
      margin: 0; }
    .container aside h2 {
      font-size: 16px;
      margin: 0.5em 0; }
    .container aside .mobile {
      text-align: center; }
      .container aside .mobile a {
        display: inline-block;
        list-style: none;
        vertical-align: top;
        /* For IE 7 */
        zoom: 1;
        *display: inline;
        margin: 0 auto 1em; }
    .container aside #partners {
      padding: 0 1em; }
      .container aside #partners img {
        display: block;
        margin: 0 auto 1em; }
    .container aside .iptl .paginatedList {
      margin-bottom: 1em; }
  .container .shootmania-signups {
    text-align: center; }
    .container .shootmania-signups .button {
      background: #b21b00;
      background: -webkit-gradient(linear, left top, left bottom, from(#b21b00), to(#4d0c00));
      background: -webkit-linear-gradient(top, #b21b00, #4d0c00);
      background: -moz-linear-gradient(top, #b21b00, #4d0c00);
      background: -ms-linear-gradient(top, #b21b00, #4d0c00);
      background: -o-linear-gradient(top, #b21b00, #4d0c00);
      background: linear-gradient(top, #b21b00, #4d0c00);
      padding: 0.5em 1em;
      border-radius: 0.25em;
      border: 1px solid #b21b00;
      color: white;
      font-size: 16px;
      text-decoration: none;
      display: inline-block;
      list-style: none;
      vertical-align: top;
      /* For IE 7 */
      zoom: 1;
      *display: inline;
      padding: 0.5em 1em;
      line-height: 48px; }
      .container .shootmania-signups .button:hover {
        background: #e62200;
        background: -webkit-gradient(linear, left top, left bottom, from(#b21b00), to(#4d0c00));
        background: -webkit-linear-gradient(top, #e62200, #801300);
        background: -moz-linear-gradient(top, #e62200, #801300);
        background: -ms-linear-gradient(top, #e62200, #801300);
        background: -o-linear-gradient(top, #e62200, #801300);
        background: linear-gradient(top, #e62200, #801300); }
      .container .shootmania-signups .button:active {
        position: relative;
        top: 1px; }
      .container .shootmania-signups .button span {
        background: url(http://media.ign.com/ev/esports/ipl-static/ipl-site/images/SM_STORM_logo.png) 0 0 no-repeat;
        display: inline-block;
        vertical-align: top;
        height: 48px;
        width: 135px; }

.leaderboard {
  width: 970px;
  max-width: 1300px;
  margin: 0.5em auto;
  text-align: center;
  background-color: black;
  position: relative;
  z-index: 1; }
  .leaderboard #sugarad-728x90 {
    display: block;
    margin: 0 auto;
    width: 728px;
    position: relative; }

#heroUnit {
  margin-bottom: 1em;
  background: black;
  overflow: hidden;
  float: left;
  width: 66%; }
  #heroUnit .loader {
    width: 100%; }
  #heroUnit #keep-aspect-ratio {
    overflow: hidden;
    position: relative;
    padding-bottom: 29px; }
    #heroUnit #keep-aspect-ratio #player-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
      #heroUnit #keep-aspect-ratio #player-wrapper object, #heroUnit #keep-aspect-ratio #player-wrapper embed, #heroUnit #keep-aspect-ratio #player-wrapper video, #heroUnit #keep-aspect-ratio #player-wrapper .youtubeEmbed {
        width: 100% !important;
        height: 100% !important; }
  #heroUnit #description {
    padding: 1em 2.5%;
    background: black;
    line-height: 2em;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333; }
    #heroUnit #description a {
      color: white;
      text-decoration: none; }
    #heroUnit #description .title {
      color: white;
      font-size: 18px;
      display: block;
      text-overflow: ellipsis;
      word-wrap: break-word;
      white-space: nowrap;
      font-weight: bold;
      overflow: hidden;
      margin: 0;
      margin: 0 0 0.5em;
      float: left;
      width: 85%; }
    #heroUnit #description ul li {
      height: 19px;
      line-height: 19px;
      float: left;
      margin-right: 1em; }
      #heroUnit #description ul li a {
        display: block; }
    #heroUnit #description #chat {
      -webkit-box-shadow: inset 1px 11px 20px 1px white;
      -moz-box-shadow: inset 1px 11px 20px 1px white;
      box-shadow: inset 1px 11px 20px 1px white;
      background-color: #ededed;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
      background-image: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
      background-image: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
      background-image: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
      background-image: -linear-gradient(top, #ededed 5%, #dfdfdf 100%);
      -webkit-border-radius: 0.25em;
      -moz-border-radius: 0.25em;
      border-radius: 0.25em;
      display: inline-block;
      list-style: none;
      vertical-align: top;
      /* For IE 7 */
      zoom: 1;
      *display: inline;
      color: #333333;
      font-size: 11px;
      font-weight: bold;
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      padding: 0 0.5em;
      float: right;
      font-size: 11px; }
      #heroUnit #description #chat:active {
        position: relative;
        top: 1px; }
    #heroUnit #description .ytSubscribe {
      -webkit-box-shadow: inset 1px 11px 20px 1px white;
      -moz-box-shadow: inset 1px 11px 20px 1px white;
      box-shadow: inset 1px 11px 20px 1px white;
      background-color: #ededed;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
      background-image: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
      background-image: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
      background-image: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
      background-image: -linear-gradient(top, #ededed 5%, #dfdfdf 100%);
      -webkit-border-radius: 0.25em;
      -moz-border-radius: 0.25em;
      border-radius: 0.25em;
      display: inline-block;
      list-style: none;
      vertical-align: top;
      /* For IE 7 */
      zoom: 1;
      *display: inline;
      color: #333333;
      font-size: 11px;
      font-weight: bold;
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      padding: 0 0.5em; }
      #heroUnit #description .ytSubscribe:active {
        position: relative;
        top: 1px; }
      #heroUnit #description .ytSubscribe span {
        background: transparent url("http://media.ign.com/ev/esports/ipl-static/ipl-site/images/youtube_logo_standard_againstwhite_41x15.png") center center no-repeat;
        text-indent: -999em;
        display: inline-block;
        width: 45px; }
    #heroUnit #description .twitchSubscribe {
      -webkit-box-shadow: inset 1px 11px 20px 1px white;
      -moz-box-shadow: inset 1px 11px 20px 1px white;
      box-shadow: inset 1px 11px 20px 1px white;
      background-color: #ededed;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
      background-image: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
      background-image: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
      background-image: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
      background-image: -linear-gradient(top, #ededed 5%, #dfdfdf 100%);
      -webkit-border-radius: 0.25em;
      -moz-border-radius: 0.25em;
      border-radius: 0.25em;
      display: inline-block;
      list-style: none;
      vertical-align: top;
      /* For IE 7 */
      zoom: 1;
      *display: inline;
      color: #333333;
      font-size: 11px;
      font-weight: bold;
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      padding: 0 0.5em; }
      #heroUnit #description .twitchSubscribe:active {
        position: relative;
        top: 1px; }
      #heroUnit #description .twitchSubscribe span {
        background: transparent url("http://media.ign.com/ev/esports/ipl-static/ipl-site/images/twitch_logo_45x15.png") center center no-repeat;
        text-indent: -999em;
        display: inline-block;
        width: 50px; }

#mobileNavButton {
  position: absolute;
  bottom: 0.3em;
  right: 0.9em;
  padding: 0;
  display: none;
  height: 27px;
  width: 31px;
  background: white;
  border-radius: 0.25em;
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5), inset -1px -1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5), inset -1px -1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5), inset -1px -1px 1px rgba(0, 0, 0, 0.5); }
  #mobileNavButton p {
    text-indent: -999em;
    height: 100%;
    margin: 0;
    padding: 0; }
  #mobileNavButton span {
    position: absolute;
    left: 0.6em;
    right: 0.6em;
    height: 2px;
    background-color: #fdb531;
    border-radius: 5em;
    top: 50%;
    padding: 0;
    width: auto; }
    #mobileNavButton span:after, #mobileNavButton span:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #fdb531;
      border-radius: 5em; }
    #mobileNavButton span:after {
      top: 200%; }
    #mobileNavButton span:before {
      bottom: 200%; }

body #ignFooter-container {
  background: white;
  width: 970px;
  max-width: 1300px;
  margin: 1em auto 0; }
  body #ignFooter-container footer {
    width: 100%; }
    body #ignFooter-container footer .ignFooter-content {
      max-width: 100%; }

/*tournament pages */
.container #wrapper .tournamentHeader {
  width: 66%;
  float: left; }
  .container #wrapper .tournamentHeader.live {
    width: 100%; }
  .container #wrapper .tournamentHeader #heroUnit {
    width: auto;
    float: none; }
  .container #wrapper .tournamentHeader #posts {
    width: 100%; }
    .container #wrapper .tournamentHeader #posts header h2 {
      float: left;
      border-bottom: none; }
    .container #wrapper .tournamentHeader #posts .cosmoRoom {
      width: 50%; }
    .container #wrapper .tournamentHeader #posts .cosmoExterior {
      float: none;
      display: block;
      margin: auto; }
.container #wrapper .tournamentInfo > article {
  padding: 1em; }
  .container #wrapper .tournamentInfo > article#tickets span {
    font-size: 1.5em;
    color: #fdb531;
    font-weight: bold; }
  .container #wrapper .tournamentInfo > article#tickets p {
    text-align: center; }
    .container #wrapper .tournamentInfo > article#tickets p a {
      background: #b21b00;
      background: -webkit-gradient(linear, left top, left bottom, from(#b21b00), to(#4d0c00));
      background: -webkit-linear-gradient(top, #b21b00, #4d0c00);
      background: -moz-linear-gradient(top, #b21b00, #4d0c00);
      background: -ms-linear-gradient(top, #b21b00, #4d0c00);
      background: -o-linear-gradient(top, #b21b00, #4d0c00);
      background: linear-gradient(top, #b21b00, #4d0c00);
      padding: 0.5em 1em;
      border-radius: 0.25em;
      border: 1px solid #b21b00;
      color: white;
      font-size: 16px;
      text-decoration: none;
      display: inline-block;
      list-style: none;
      vertical-align: top;
      /* For IE 7 */
      zoom: 1;
      *display: inline; }
      .container #wrapper .tournamentInfo > article#tickets p a:hover {
        background: #e62200;
        background: -webkit-gradient(linear, left top, left bottom, from(#b21b00), to(#4d0c00));
        background: -webkit-linear-gradient(top, #e62200, #801300);
        background: -moz-linear-gradient(top, #e62200, #801300);
        background: -ms-linear-gradient(top, #e62200, #801300);
        background: -o-linear-gradient(top, #e62200, #801300);
        background: linear-gradient(top, #e62200, #801300); }
      .container #wrapper .tournamentInfo > article#tickets p a:active {
        position: relative;
        top: 1px; }
  .container #wrapper .tournamentInfo > article p {
    margin: 0; }
.container #wrapper .tournamentInfo h2 {
  margin: 0; }

#tournamentNav {
  background-color: white;
  padding: 1em;
  margin: 0;
  clear: none; }
  #tournamentNav > div {
    float: left;
    clear: left;
    margin-bottom: 1em;
    border: 1px solid #333333;
    border-radius: 0.25em;
    padding: 0.5em;
    width: 100%; }
  #tournamentNav ul {
    clear: left; }
    #tournamentNav ul li {
      float: left; }
      #tournamentNav ul li a {
        display: block;
        padding: 0.5em;
        color: #b21b00; }
        #tournamentNav ul li a:hover {
          color: #333333;
          text-deocration: none; }
  #tournamentNav h2 {
    float: left; }
    #tournamentNav h2 span {
      text-transform: uppercase; }

#heroUnit.promo {
  width: 100%; }

#tournamentNav .current a {
  text-decoration: none;
  cursor: default;
  color: #333333; }
#tournamentNav .e3 {
  margin: -0.5em -0.5em 0;
  border-radius: 0.25em; }
  #tournamentNav .e3 img {
    border-radius: 0.25em;
    width: 100%; }

.stats header[role="banner"] .additionalContent.clearfix {
  width: auto;
  min-width: 0; }
  .stats header[role="banner"] .additionalContent.clearfix ul {
    border: none; }

.no-touch #heroUnit ul.showHolder li a:hover p {
  display: block;
  bottom: 100%; }

/*versus */
input[type=submit] {
  border: none;
  background: #b21b00;
  background: -webkit-gradient(linear, left top, left bottom, from(#b21b00), to(#4d0c00));
  background: -webkit-linear-gradient(top, #b21b00, #4d0c00);
  background: -moz-linear-gradient(top, #b21b00, #4d0c00);
  background: -ms-linear-gradient(top, #b21b00, #4d0c00);
  background: -o-linear-gradient(top, #b21b00, #4d0c00);
  background: linear-gradient(top, #b21b00, #4d0c00);
  padding: 0.5em 1em;
  border-radius: 0.25em;
  border: 1px solid #b21b00;
  color: white;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  list-style: none;
  vertical-align: top;
  /* For IE 7 */
  zoom: 1;
  *display: inline; }
  input[type=submit]:hover {
    background: #e62200;
    background: -webkit-gradient(linear, left top, left bottom, from(#b21b00), to(#4d0c00));
    background: -webkit-linear-gradient(top, #e62200, #801300);
    background: -moz-linear-gradient(top, #e62200, #801300);
    background: -ms-linear-gradient(top, #e62200, #801300);
    background: -o-linear-gradient(top, #e62200, #801300);
    background: linear-gradient(top, #e62200, #801300); }
  input[type=submit]:active {
    position: relative;
    top: 1px; }

/*ads */
.sugarads {
  margin: 0 0 1em 0;
  border-bottom: 1px solid #333333; }
  .sugarads #sugarad-300x100 {
    width: 300px;
    height: 100px;
    padding: 0;
    margin: auto; }

.hidden {
  display: none; }

.container article > #disqus_thread {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px dashed #a6a6a6; }
  .container article > #disqus_thread p {
    color: #333333; }
    .container article > #disqus_thread p a {
      color: #333333;
      cursor: default; }

/*shootmania */
#video-list {
  overflow: hidden; }
  #video-list li {
    float: left;
    width: 150px;
    margin: 1px; }
  #video-list li:first {
    margin-left: 0; }
  #video-list li:last {
    margin-right: 0; }

.video-box {
  padding: 24px 16px; }

.sm-styles .title {
  color: white; }

.article-box {
  padding: 13px 16px;
  background-color: white; }

#articles-list {
  overflow: hidden; }
  #articles-list h3 {
    color: #333333; }
  #articles-list li {
    border-bottom: 1px dashed #a6a6a6;
    padding-bottom: 1em; }
    #articles-list li .img-holder {
      float: left;
      margin-top: 16px;
      width: 136px;
      overflow: hidden; }
    #articles-list li article {
      padding: 8px 16px;
      float: left;
      width: 470px; }
      #articles-list li article .moreLink {
        clear: both; }
  #articles-list li:last-child {
    border-bottom: none; }

/*IPL5 Specific */
#ipl5-centerer {
  margin: auto;
  width: 970px; }

#ipl5_quickinfo {
  background: #404040;
  background: -moz-linear-gradient(top, #404040 0, #151515 100%);
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#404040), to(#151515));
  background: -webkit-linear-gradient(top, #404040 0, #151515 100%);
  background: -o-linear-gradient(top, #404040 0, #151515 100%);
  background: -ms-linear-gradient(top, #404040 0, #151515 100%);
  background: linear-gradient(top, #404040 0, #151515 100%);
  height: 100px;
  border-bottom: 1px solid #292929;
  color: white; }

#ipl5_quickinfo,
#ipl5_quickinfo a {
  text-decoration: none; }

#ipl5_quickinfo a:hover {
  text-decoration: underline; }

#ipl5-logo {
  height: 80px;
  width: 105px;
  background-color: black;
  float: left;
  margin: 10px 0 0 0;
  background: url(http://media.ign.com/ev/esports/ipl-static/ipl-site/images/ipl5-logo.png) left top no-repeat; }

.ipl5-games {
  margin: 0;
  padding: 10px 15px 10px 15px;
  list-style: none;
  float: right;
  width: 120px;
  height: 100px;
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background: #535353;
  background: -moz-linear-gradient(top, #535353 0, #2d2d2d 100%);
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#535353), to(#2d2d2d));
  background: -webkit-linear-gradient(top, #535353 0, #2d2d2d 100%);
  background: -o-linear-gradient(top, #535353 0, #2d2d2d 100%);
  background: -ms-linear-gradient(top, #535353 0, #2d2d2d 100%);
  background: linear-gradient(top, #535353 0, #2d2d2d 100%); }

.ipl5-games + .ipl5-games {
  border-right: none; }

.ipl5-games dt {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.ipl5-games dt a {
  color: white; }

.ipl5-games dd {
  margin: 1px 0 0 0; }

.ipl5-games dd a {
  color: #cccccc; }

#ipl5-now {
  float: left;
  width: 375px;
  /* 495 used while we have three games displayed */
  width: 495px;
  height: 80px;
  padding: 10px 15px 10px 15px;
  margin-left: 10px; }

#ipl5-now h3 {
  margin-bottom: 10px; }

#ipl5-now ul {
  padding: 0;
  margin: 0;
  list-style: none; }

#ipl5-now li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

#ipl5-now li + li {
  border-top: 1px dotted #444444; }

#ipl5-now a {
  color: #cccccc; }

#ipl5-featured {
  height: 47px;
  font-size: 0; }

#ipl5-pc {
  display: inline-block;
  width: 145px;
  height: 47px;
  margin-right: 10px;
  background-color: #b21b00;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 11px;
  text-decoration: none;
  padding-top: 7px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; 
  background: #b21b00;
  background: -webkit-gradient(linear, left top, left bottom, from(#b21b00), to(#4d0c00));
  background: -webkit-linear-gradient(top, #b21b00, #4d0c00);
  background: -moz-linear-gradient(top, #b21b00, #4d0c00);
  background: -ms-linear-gradient(top, #b21b00, #4d0c00);
  background: -o-linear-gradient(top, #b21b00, #4d0c00);
  background: linear-gradient(top, #b21b00, #4d0c00);
  padding: .5em 1em;
  border: 1px solid #b21b00; }
  #ipl5-pc span {
    font-size: 15px;
    display: block; 
  }
  
  #ipl5-pc:hover {
      background: #e62200;
      background: -webkit-gradient(linear, left top, left bottom, from(#b21b00), to(#4d0c00));
      background: -webkit-linear-gradient(top, #e62200, #801300);
      background: -moz-linear-gradient(top, #e62200, #801300);
      background: -ms-linear-gradient(top, #e62200, #801300);
      background: -o-linear-gradient(top, #e62200, #801300);
      background: linear-gradient(top, #e62200, #801300);
  }
  #ipl5-pc:active {
      position: relative;
      top: 1px; }

#digibet {
  display: none; }